
src/vc140.pdb
build
src/.vs
src/.vscode
src/out
src/equality/.vs/VSWorkspaceState.json
src/equality/.vs/slnx.sqlite
src/equality/.vs/ProjectSettings.json
src/equality/.vs/equality/v16/Browse.VC.db
src/equality/.vs/equality/v16/.suo
src/equality/.vs/CMake Overview
